<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body class="container">
      <div align="center" class="col-md-9">
      <ul class ="nav nav-tabs">
        <li><a href="/" data-toggle="tab">Главная</a></li>
        <li><a href="/users" data-toggle="tab">Пользователи</a></li>
        <li><a href="/popular" data-toggle="tab">Популярное</a></li>  
		<li><a href="/urec" data-toggle="tab">Лрузья</a></li>  
		<div class="col-md-offset-10">
		
		{% if username %}
                <a href="/logout"><button type="submit" class="btn btn-info id="button">{{ username }} Выйти</button></a>
            {% else %}
                <a href="/login"><button type="submit" class="btn btn-info id="button">Войти</button></a>
            {% endif %}
		
		</div>
    </ul>
	
	
 <div class="col-md-8 col-md-offset-2">
    <h2>Понравившиеся фильмы {{ target_user }}</h2>
    <table class="table">
        {% for movie in film_list %}
        <tr>
            <td>
                <a href="/movie/{{ movie.id }}"><img width="150" src="{{ movie.poster }}"></a>
            </td>
            <td>
                <a href="/movie/{{ movie.id }}">
                    <h2>{{ movie.title }}</h2>
                </a> ({{ movie.year }})
            </td>
            <td>
                Рейтинг: {{ movie.rank }}
                <br>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>

</body>
</html>